### Unit 29. 함수

## 29.1 출력함수 만들기

In [1]:
def hello():
    print('Hello, world!')

In [2]:
hello()

Hello, world!

In [3]:
# 매개변수, parameter, argument
def add(a,b):
    print(a+b)

In [4]:
add(4,5)

9

In [5]:
# Docstrings
def add(a,b):
  """
  이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.
  """
  print(a + b)

In [10]:
# 도움말 호출
add?

In [11]:
def add(a,b):
    return a+b
add(4,5), add(10,20)

(9, 30)

In [12]:
x = add(23,45)
x

68

In [13]:
def is_ten(x):
    return x == 10

In [20]:
is_ten(101//10)

True

In [16]:
def not_ten(x):
    if x == 10:
        return
    else:
        print('It is not 10')

In [17]:
not_ten(5)

It is not 10

In [22]:
not_ten(101//10)

## 29.4 여러개의 결과값 반환

In [23]:
def add_sub(a,b):
    return a+b, a-b

In [24]:
x, y = add_sub(15,7)

In [25]:
x,y

(22, 8)

## 29.5 함수의 호출 과정

In [26]:
# Stack을 이용한다

## 연습문제
- 3자리수 정수 두개를 곱해서 나온 결과가 팔린드롬이 되도록 할 때, 가장 큰 숫자는?

In [31]:
def is_palindrome(x):
    s = str(x)
    return s == s[::-1]

In [32]:
is_palindrome(12345), is_palindrome(906609)

(False, True)

In [33]:
# 3자리수 정수? for loop을 써라
# 가장 큰 = max
max_pal = 0
for i in range(100, 1000):
    for k in range(i, 1000):
        if is_palindrome(i*k):
            if i*k > max_pal:
                max_pal = i*k
                m = i
                n = k

print(f'{m} * {n} = {max_pal}')

913 * 993 = 906609