# Unit 30. 위치 인수와 키워드 인수

## 30.1 위치 인수

In [1]:
print(10, 20, 30, sep=', ')

10, 20, 30

In [2]:
print(tuple(range(10, 101, 10)))

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

In [3]:
print(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

10 20 30 40 50 60 70 80 90 100

In [10]:
def print_numbers(a,b,c):
    print(a)
    print(b)
    print(c)

In [ ]:
print_numbers(10, 20, 30)

In [ ]:
x = [10, 20, 30]
print_numbers(*x)

## 가변 인수 함수

In [15]:
def print_numbers(*args):
    for arg in args:
        print(args)

In [ ]:
print_numbers2(10,20,30)

In [ ]:
print_numbers2(10)

## 고정 인수와 가변 인수

In [20]:
def print_numbers3(a, *args):
    print(a)
    print(args)

In [21]:
print_numbers3(1,10,20)

1
(10, 20)

In [26]:
# 고정 위치 인수가 가변 위치 인수보다 먼저 나와야 함
def print_numbers4(*args, a):
    print(args)
    print(a)

In [27]:
print_numbers4(*x)

TypeError: ignored

## 30.2 키워드 인수

In [30]:
def personal_info(name, age, addr):
    print('이름:', name)
    print('나이:', age)
    print('주소:', addr)

In [31]:
personal_info('J',30,'목동')

이름: J
나이: 30
주소: 목동

In [33]:
personal_info(age=30, addr='목동', name='J')

이름: J
나이: 30
주소: 목동

## 30.3 키워드 인수와 딕셔너리 언패킹

In [34]:
x = {'name':'J','age':30,'addr':'목동'}
personal_info(**x)

이름: J
나이: 30
주소: 목동

In [35]:
# *x는 x의 키를 불러냄
personal_info(*x)

이름: name
나이: age
주소: addr

## 가변 키워드 인수

In [36]:
def personal_info2(**kwargs):
    for key, value in kwargs.items():
        print(f'{key}:{value}')

In [37]:
personal_info2(**x)

name:J
age:30
addr:목동

In [38]:
personal_info2(name='J',age=30)

name:J
age:30

## 고정 인수와 가변 키워드 인수

In [39]:
def personal_info3(name, **kwargs):
    print(name)
    print(kwargs)

In [40]:
personal_info3(**x)

J
{'age': 30, 'addr': '목동'}

## 위치 인수와 키워드 인수

In [50]:
def my_print(*args, **kwargs):
    print(*args, **kwargs)

In [51]:
my_print(1,2,3, sep=', ')

1, 2, 3

##30.4 매개변수에 초기값 지정

In [52]:
def personal_info4(name, age, addr = '비공개'):
    print('이름:', name)
    print('나이:', age)
    print('주소:', addr)

In [53]:
personal_info4('J',30)

이름: J
나이: 30
주소: 비공개

In [54]:
personal_info4(**x)

이름: J
나이: 30
주소: 목동