## 튜플

In [4]:
menu = ("치킨", "마라탕")
print(menu[0])
print(menu[1])

#menu.add("계란") # () 튜플은 add. 지원하지 않아유. 에러나옴

치킨
마라탕

In [ ]:
#name = "이계인"
#age = "1"
#hobby = "연기"
#print(name, age, hobby)

In [9]:
(name, age, hobby) = "이계인", 1, "연기" # 튜플을 활용하여 한 줄로 간단하게 값 지정 가능하다
print(name, age, hobby)

이계인 1 연기

## 집합(set)

In [10]:
# 중복 안됨, 순서 없음
my_set = {1,2,3,3,3}
print(my_set)

{1, 2, 3}