Unit 10. 리스트와 튜플

In [5]:
a= 10
b= 20 #지금까진 변수에 값을 하나씩 저장했어~
a, b

(10, 20)

In [7]:
# 그러나 30개 변수에 30개 값 저장하려면 너무 힘듬!
a1 = 1
a2 = 1
# ...
a30 = 30

In [10]:
# [ ] 리스트 
# ( ) 튜플
# { } 딕셔너리, 세트
# ------------------
# np [ ] array
# 등을 사용하여 효과적으로 생산성을 높혀!

## 10.1 리스트

In [11]:
a = [11, 21, 31, 41, 51]
a

[11, 21, 31, 41, 51]

In [12]:
# 파이썬에서는 리스트 엘리먼트가 다른 자료형도 가능
person = ['James', 19, 175.4, True]
person

['James', 19, 175.4, True]

In [17]:
# 리스트 안에 리스트도 가능!
person = ['James', 19, 175.4, True, [120, 80]]
person

['James', 19, 175.4, True, [120, 80]]

In [16]:
# 딕셔너리 활용하여 이런식으로 정리하여 쓰는 것이 더 명확
person_dict = {'name':'James', 'age':19, 'height':175.4, 
          'is_male':True, 'bp':[120, 80]}
person_dict

{'age': 19, 'bp': [120, 80], 'height': 175.4, 'is_male': True, 'name': 'James'}

### 빈 리스트 만들기

In [18]:
a = []
b = list()
a, b

([], [])

In [20]:
print (a, b)

[] []

### range (범위)
- range( [시작숫자, ] 끝나는 숫자 + 1 [, 증가분] )

In [45]:
#여러 자료형 섞을 수 있다

In [25]:
#0이상 10미만
a = range(10)
a

range(0, 10)

In [23]:
# 0부터 센다
list(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
# 1 이상 11 미만
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [33]:
#홀수
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [34]:
#짝수

In [35]:
list(range(2, 11, 2))

[2, 4, 6, 8, 10]

In [37]:
list(range(2, 21, 2)) #range( [시작숫자, ] 끝나는 숫자 + 1 [, 증가분] )

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [39]:
list(range(10, 0, -1)) # 뒤부터 세기

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## 10.2 튜플(tuple)
- Read-only 특성(변경 불가)

In [41]:
a = (38, 21, 47)
a

(38, 21, 47)

In [43]:
a = 38, 21, 47 #파이썬은 이렇게만 나열해도 튜플이 완성된다
a

(38, 21, 47)

In [44]:
person = ('James', 19, 175.4, True)
person

('James', 19, 175.4, True)

In [54]:
#a = tuple()
#a
#애초에 튜플은 변경 불가기 때문에 리스트처럼 빈 튜플을 만들 필요가 없다
#이런 방식은 불가

In [53]:
a = (38,)
a
#그냥 스칼라 값이다
#해당 형태는 DB에 값을 줄 때 이런식으로 넣어줄 때가 있다
#딥러닝 시 차원 개념 배울 때 필요하다

(38,)

In [55]:
tuple(range(5))

(0, 1, 2, 3, 4)

###리스트 <--> 튜플

In [57]:
a = [1, 3, 4]
b = tuple(a)
b

(1, 3, 4)

In [58]:
c = list(b)
c

[1, 3, 4]

### 문자열

In [60]:
tuple('Hello')

('H', 'e', 'l', 'l', 'o')

In [61]:
list('안녕하세요')

['안', '녕', '하', '세', '요']

### 언팩킹(Unpacking)

In [63]:
# tuple unpacking
a = (1, 3, 4)
x, y, z = a
x, y, z

(1, 3, 4)

In [64]:
# list unpacking
x, y, z = [1, 3, 5]
x, y, z

(1, 3, 5)