16.5 연습문제)

다음 소스 코드를 완성하여 리스트 x에 들어있는 각 숫자(요소)에 10을 곱한 값이 출력되게 만드세요. 모든 숫자는 공백으로 구분하여 한 줄로 출력되어야 합니다.

x = [49, -17, 25, 102, 8, 62, 21]

In [9]:
x = [49, -17, 25, 102, 8, 62, 21]
for i in x:
    print(i * 10, end=' ')

490 -170 250 1020 80 620 210

In [13]:
gugudan = int(input())
for i in range(1, 10):
    print(gugudan,'*',i,'=',gugudan*i, sep=' ')

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [16]:
dan = int(input())
for i in range(1,10):
    print(dan,'*',i,'=',dan*i,sep=' ')

10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90

In [25]:
i = 2
j = 5
while i <= 32 or j >= 1:
    print(i, j, end = ', ')
    i *= 2
    j -= 1

2 5, 4 4, 8 3, 16 2, 32 1,

In [34]:
money = int(input())
while money >= 1350:
    money -= 1350
    print(money)

10000
8650
7300
5950
4600
3250
1900
550

In [36]:
start, stop = map(int, input().split())
 
i = start
 
while True:
    if i % 10 == 3:
        i += 1
        continue
    if i > stop:
        break
        
    print(i, end=' ')
    i += 1

70 199
70 71 72 74 75 76 77 78 79 80 81 82 84 85 86 87 88 89 90 91 92 94 95 96 97 98 99 100 101 102 104 105 106 107 108 109 110 111 112 114 115 116 117 118 119 120 121 122 124 125 126 127 128 129 130 131 132 134 135 136 137 138 139 140 141 142 144 145 146 147 148 149 150 151 152 154 155 156 157 158 159 160 161 162 164 165 166 167 168 169 170 171 172 174 175 176 177 178 179 180 181 182 184 185 186 187 188 189 190 191 192 194 195 196 197 198 199