# U22_U26_심사문제

### 22.10

In [2]:
a,b = map(int,input().split())      #표준 입력으로 정수 두 개가 입력

test = [2**i for i in range(a,b+1)] #첫 번째 입력 값은 두 번째 입력 값보다 항상 작습니다

test.pop(1)                         #리스트의 두 번째 요소
test.pop(len(test)-2)               #뒤에서 두 번째 요소는 삭제

print(test)

1 10
[2, 8, 16, 32, 64, 128, 256, 1024]

### 24.5

In [4]:
string = input().split() #표준 입력으로 문자열 입력 # paragraph에 split을 사용하여 공백을 기준으로 분리한 뒤 리스트로 만들어준다.
count = 0

for i in string:         
    i = i.strip(',.')    # strip에 ',.'을 지정해서 콤마와 점을 삭제한 뒤 'the'와 비교
    if i =='the':
        count+=1
        
print(count)

the grown-ups' response, this time, was to advise me to lay aside my drawings of boa constrictors, whether from the inside or the outside, and devote myself instead to geography, history, arithmetic, and grammar. That is why, at the, age of six, I gave up what might have been a magnificent career as a painter. I had been disheartened by the failure of my Drawing Number One and my Drawing Number Two. Grown-ups never understand anything by themselves, and it is tiresome for children to be always and forever explaining things to the.
6

### 24.6

In [5]:
price = list(map(int,input().split(';'))) #표준 입력으로 물품 가격 여러 개가 문자열 한 줄로 입력되고, 각 가격은 ;(세미콜론)으로 구분, sort 메서드를 사용하기 위해 다시한번 map 객체를 리스트로 변환한 뒤 변수에 저장
price.sort(reverse=True)                  #sort 메서드를 이용해 오름차순으로 정렬
for i in (price):
    print('%9s' % format(i, ','))         #for 반복문을 이용해 가격을 길이 9로 만든 뒤 오른쪽 정렬하고 천단위로, ,(콤마)를 넣으므로써 하나씩 출력

51900;83000;158000;367500;250000;59200;128500;1304000
1,304,000
  367,500
  250,000
  158,000
  128,500
   83,000
   59,200
   51,900

### 25.8

In [6]:
keys = input().split()
values = map(int, input().split())
 
x = dict(zip(keys, values))

x.pop('delta') # x.pop('delta')로 키-값 쌍을 삭제
x = {key: value for key, value in x.items() if value != 30} #값이 30인 키-값 쌍을 삭제할 때는 딕셔너리 표현식을 사용하여 값이 30인 키-값 쌍만 제외

print(x)

alpha bravo charlie delta
10 20 30 40
{'alpha': 10, 'bravo': 20}

###26.9

In [9]:
a,b = map(int,input().split())

a = {i for i in range(1,a+1) if a % i == 0}
b = {j for j in range(1,b+1) if b % j == 0}

divisor = a & b #divisor = a & b로 교집합
 
result = 0
if type(divisor) == set:
    result = sum(divisor)
 
print(result)

10 20
18